<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library | Home</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <%- include('partials/header.ejs') %>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <%- include('partials/hero.ejs') %>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
     <%- include('partials/categories.ejs') %>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <%- include('partials/featured_books.ejs') %>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <!-- <%- include('partials/banner.ejs') %> -->
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <!-- <%- include('partials/latest_books.ejs') %> -->
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <!-- <%- include('partials/blogs.ejs') %> -->
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <%- include('partials/footer.ejs') %>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/mixitup.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>



</body>

</html>